<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Charity Verification</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <title>Charitable|Admin Dashboard</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <!-- Navigation (Sits on top) -->
    <nav class="navbar">
      <div class="logo"><img src="/media/AspirationsLogo.png" alt="LOGO" width="70px">
              <span><h2 class="brand-name">Aspirations</h2></span><br><br>
              
      </div>
      <div class="push-left">
        <button id="menu-toggler" data-class="menu-active" class="hamburger">
          <span class="hamburger-line hamburger-line-top"></span>
          <span class="hamburger-line hamburger-line-middle"></span>
          <span class="hamburger-line hamburger-line-bottom"></span>
        </button>
    
        <!--  Menu compatible with wp_nav_menu  -->
        <ul id="primary-menu" class="menu nav-menu">
          <li class="menu-item current-menu-item"><a class="nav__link"  href="/login">Login</a></li>
          <li class="menu-item dropdown"><a class="nav__link"  href="/registerUser">Sign Up</a>
          </li>
          <li class="menu-item dropdown"><a class="nav__link"  href="/">About Us</a>
          </li>
          <li class="menu-item "><a class="nav__link"  href="admin-login">Login As Admin</a>
          </li>
        </ul>
    
    
      </div>
    </nav>
    <div class="charity-section">
     <div class="admin-heading">
      <h1><a href="">Approval Requests</a></h1> 
      <h1 class="approved"><a href="/approved">Already Approved</a></h1>
     </div>
    <div class="details">
        <% if(posts.length > 0 ){ %> 
            <% posts.map((post)=>{  %> 
                <div class="donation-card">
                  <a href="admin-login/to-approve/<%= post._id %>"  class="single">
                   <img src="/media/<%= post.image %> "> 
                    <p><%= post.title %> </p>
                    <p><%= post.desc %> </p>
                    <p>Funds target : <%= post.amount %> </p>
                    <div class="buttons">
                        <button style="margin-right: 60px;" href="/admin-login/to-approve/<%= post._id %>" class="registerBtn">Approve</button>
                        <a class="delete"style="margin-right: 40px;" data-doc="<%= post._id %>"><button class="registerBtn del" style="background-color: red;"> Delete </button></a>
                        <button  href="/admin-login/to-approve/<%= post._id %>" class="registerBtn">Details</button>
                      
                    </div></a>
                </div> 
                <% })}else { %>  
                <h3>No approval requests </h3>
              <% } %> 

    </div>
    </div>
    <!-- <div class="footer">
      <h4>“ When a person dies, all their deeds end except three:
        a continuing charity, beneficial knowledge and a 
        child who prays for them ”</h4>  
    </div> -->
  
  <style>
    .navbar{
      height: 70px;
    }
    .logo{
      height: 60px;
      font-weight: bold;

    }
   
    h1{
        text-align: center;
        font-family: 'Lobster', cursive;
        font-weight: bold;
        color: white;

    }
    h3{
      font-family: 'Lobster', cursive;
      font-weight: bold;
      color: black;



    }
    .admin-heading{
      color: white;
    }
    .details{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 5%;
}

.registerBtn{
  margin-bottom: 7%;
}
       img{
         width: 100%;
       }
    .donation-card{
    
        text-align: center;
        background-color: white;
        width: 35%;
        margin: auto;
        margin-top: 5%;
        border-radius: 25px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                    0 10px 10px rgba(0,0,0,0.22);
    }
    
    .buttons{
        display: flex;
        justify-content: center;
    }
    button{
    margin-top: 3%;
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 5%;
    margin-right: 5%;
}
button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lobster&display=swap');

        /* Extra */
/* primary: #fff;
secondary: #ccc;
ternary: #272727;
dark: #444444; */

.brand-name {
        margin-left: 15px;
        margin-bottom: 27px;
        font-family: 'Lobster', cursive;

        font-size: 25px;
        font-weight: bold;
        margin-top: 7px;

}


body {
  background-image: url("/media/img14.png");
  color: #272727;
  font-size: 14px;
  margin: 0;

}

.logo {
  max-width: 200px;
  display: flex;
}
.navbar {
  align-items: center;
  background: white;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
  font-family: 'Lobster', cursive;

  padding: 10px 50px;
  margin-bottom: 1rem;
}

.push-left {
  margin-left: auto;
}

/* Menu */
.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  outline: none;
  height: 30px;
  position: relative;
  width: 30px;
  z-index: 1000;
  @media screen and (max-width: 768px) {
    display: inline-block;
  }
}
  
  .hamburger-line {
    background: #272727;
    height: 3px;
    position: absolute;
    left: 0;
    transition: all .2s ease-out; 
    width: 100%;
  }
    
    .hamburger:hover  {
      background: #777;
    }
    
    .hamburger-top {
      top: 3px;
    }
    
    .menu-active .hamburger-top {
      top: 50%;
      transform: rotate(45deg) translatey(-50%);
    }
    
    .hamburger-middle {
      top: 50%;
      transform: translatey(-50%);
    }
    
    .menu-active .hamburger-middle {
      left: 50%;
      opacity: 0;
      width: 0;
    }

    .hamburger-bottom {
      bottom: 3px;
    }

    .menu-active .hamburger-bottom {
      bottom: 50%;
      transform: rotate(-45deg) translatey(50%);
    }

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all .25s ease-in; 
  
  @media screen and (max-width: 768px) {
    background: #fff;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transform: translatey(-100%);
    text-align: center;
    
    .menu-active & {
      transform: translatey(0%);  
      opacity: 1;
    }
  }

}
  
  .menu-item a {
    color: #444444;
    display: block;
    line-height: 30px;
    margin: 0px 10px;
    text-decoration: none;
    text-transform: uppercase;
  }
    
    .menu-item:hover {
      color: lighten(#444444, 20);
      text-decoration: underline;
    }

    @media screen and (max-width: 768px) {
       body {
      font-size: 20px;
      margin: 8px;
        }
    }

.sub-nav {
    border: 1px solid #ccc;
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 5px 5px;
    list-style: none; 
    width: 230px;   
    @media screen and (max-width: 768px) {
      position: relative;
      width: 100%;
      display: none;
      background-color: rgba(0, 0, 0, 0.20);
      box-sizing: border-box;
    }
}

  .nav__link {
   font-size: 19px;
   font-weight: bold;
   color: white;
   font-family: 'Lobster', cursive;

} 

/*.sub-nav {
  .sub-nav:hover {
    display:block;
  } */
/* } */
</style>
<script src="/script.js"></script>
</body>
</html>